*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

button{
    position: fixed;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    bottom: 50%;
    transition-duration: 150ms;
}

.left{
    position: fixed;
    left: 8vw;
}
.right{
    position: fixed;
    right: 8vw;
}

button:hover{
    color: #f5f5f5;
    background-color: #393939;
    cursor: pointer;
}
/* span{
    font-size: 2rem;
    text-align: center;
    color: #f5f5f5;
    padding: 64px 0px 0px 0px;
} */

nav{
    display: flex;
    height: 8vh;
    background-color: #393939;
    justify-content: flex-end;
    padding: Auto 8px Auto 8px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

nav ul{
    list-style-type: None;
    display: flex;
    align-items: center;
    padding: Auto 8px Auto 8px;
    /* position: sticky;
    z-index: 100; */
}

nav ul li{
    display: flex;
    width: 5vw;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5%;
    transition-duration: 150ms;
}

nav ul li:hover{
    background-color: #393939;
    color: #f5f5f5;
    cursor: pointer;
}

.content{
    width: 100vw;
    height: 92vh;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: 0px 16px 0px 0px;
    
}

.blog-post{
    background-color: #5e5e5e;
    width: 88%;
    height: 88%;
    border: none;
    border-radius: 1vw;
    overflow: auto;
    white-space: nowrap;
    position: absolute;
}

/* .blog-post{
    background-color: #5e5e5e;
    width: 88%;
    height: 88%;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 0px 5px 0px 5px;
    border: none;
    border-radius: 1vw;
    white-space: nowrap;
} */

.blog{
    width: 50%;
    height: 88%;
    background-color: #adadad;
    border: 2px solid #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
